body {
    font-family: Arial;
    text-align: center;
    background-color: #fff5f8;
}

h1 {
    color: #d63384;
}

button {
    background-color: #ff69b4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}